header.masthead {
  padding-top: calc(5rem + 72px);
  padding-bottom: 10rem;
  h1 {
    font-size: 4rem;
    line-height: 15rem;
    text-align: left;
  }
  h2 {
    font-size: 4rem;
    text-align: left;
    font-weight: bold !important;
    @include body-font;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: bold !important;
    text-align: left;
    color: $custom-grey-3;
    @include body-font;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 7rem !important;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 9rem;
    h1 {
      font-size: 10em !important;
      line-height: 15rem;
    }
    h2 {
      font-size: 4em;
      text-align: left;
      font-weight: bold !important;
    }
    h3 {
      font-size: 1.5em;
      font-weight: bold !important;
      text-align: left;
      padding-top: 2em;
    }

  }
}
